
.tasks {
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    display: flex;
    padding: 4rem 1.5rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.taskIcon {
    width: 56px;
    height: 56px;
}

.taskText {
    color: var(--gray-300);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.4rem;

    margin-top: 1rem;
}

.taskText p:first-child {
    font-weight: 700;
}

.taskText p:last-child {
    font-weight: normal;
}