.taskList {
    max-width: 46rem;
    margin: 4.0625rem auto 0 auto;
}

.resume {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
}

.createdTasks {
    color: var(--blue);
    font-size: 0.875rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.completedTasks {
    color: var(--purple);
    font-size: 0.875rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.value {
    color: var(--gray-200);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 2px 8px;
    background: var(--gray-400);
    border-radius: 999px;
    margin-left: 8px;
    align-items: center;
    justify-content: center;
}