.taskItem {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 0.75rem;
    align-items: stretch;

    border-radius: 8px;
    border: 1px solid var(--gray-400);
    background: var(--gray-500);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0. 0.06);

    max-width: 46rem;
    margin: auto;
}

.checkIcon {
    margin-right: 0.75rem;
}

.checkIcon:hover {
    cursor: pointer;
}

.btnDelete {
    margin-left: auto;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.trashIcon {
    color: var(--gray-300)
}

.trashIcon:hover {
    color: var(--danger);
}

