.taskInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 1rem;
    margin-top: -3rem;
}

.input {
    width: 37.875rem;
    height: 1.375rem;
    margin: 1px;

    padding: 1.5rem 1rem;

    background: var(--gray-600);
    
    border-radius: 8px;
    border: 1px solid var(--gray-700);

    color: var(--gray-300);
}

.btn {

    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    width: 3.625;
    height: 1.25;
    padding: 1rem;

    border-radius: 8px;
    background: var(--blue-dark);
    color: var(--gray-100);
    gap: 0.5rem;

    border: transparent;

    font-size: 0.875rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.btn:hover {
    background: var(--blue);
}